{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ООО "Металл Дизайн"</title>
    <link rel="stylesheet" href="{% static 'zavod/style.css' %}">
<style>
</style>
</head>
<body>
    <div class = "heads">
    <div class = "heads-column">
    <h2>ООО "Металл Дизайн"</h2>
    </div>
    <div class="menu">
        <a href="{% url 'employee_list' %}">Главная</a>
        <a href="{% url 'reports' %}">Отчеты</a>
        <a href="{% url 'orders' %}">Заказы</a>
        
    </div>
    </div>
    <form id="main-form">
        <label for="fio">Выберите ФИО:</label>
        <select id="fio" name="fio">
            <option value="test">- - - - -</option>
            {% for employee in employees %}
            <option value="{{ employee.full_name }}">{{ employee.full_name }}</option>
            {% endfor %}
        </select>

        <label for="position">Выберите Цех:</label>
        <select id="position" name="position" onchange="loadTasks()">
            <option value="test">- - - - -</option>
            {% for position in positions %}
            <option value="{{ position.title }}">{{ position.title }}</option>
            {% endfor %}
        </select>
         <label for="task-code">Выберите код задачи:</label>
        <select id="task-code" name="task-code" onchange="loadTasks()">
            <option value="test">- - - - -</option>
            {% for task in task_codes %}
                    <option value="{{ task }}">{{ task }}</option>
                 {% endfor %}
            </select>
        <div class = "container-flex">
        <div id="task-container">
            <label for="task">Выберите задачу:</label>
            <select id="task" name="task" onchange="generateTaskCount()">
                <option value="test">- - - - -</option>
                <!--Задачи загрузятся динамически-->
            </select>
            </div>
        <div id="task-count-container">
            <label for="task-count">Кол-во:</label>
            <select id ="task-count" name="task-count">
            <!--Должны загружаться динамически-->
            </select>
            </div>
        </div>
        <div class = "clear">
        </div>
        <button type="button" class="add-form-btn" onclick="addNewSelect()">Добавить задачу</button>
        <form id="main-form" action="{% url 'daily_summary' %}" method="get">
            <button type="button" class="save-btn" onclick="saveData()">Сохранить</button>
        </form>

        <input type="hidden" id="selected-tasks" name="selected-tasks" value="">

        <div id="notification" class="popup">Данные успешно сохранены!</div>
    </form>

<script>
    function loadTasks() {
        var selectedPosition = document.getElementById('position').value;
        var selectedTaskCode = document.getElementById('task-code').value;

        fetch(`/get-tasks/?position=${selectedPosition}&task_code=${selectedTaskCode}`)
            .then(response => response.json())
            .then(data => {
                var taskSelect = document.getElementById('task');
                var taskCountSelect = document.getElementById('task-count');

                taskSelect.innerHTML = '<option value="test">- - - - -</option>';
                taskCountSelect.innerHTML = ''; // Clear existing options

                data.forEach(function(task) {
                    var option = document.createElement('option');
                    option.value = task.name;
                    option.text = task.code + ' ' + task.name;
                    taskSelect.appendChild(option);

                });
            })
            .catch(error => {
                console.error('Error loading tasks:', error);
            });
    }
</script>
<script>
    function generateTaskCount() {
        var taskSelect = document.getElementById("task");
        var selectedTaskCode = document.getElementById('task-code').value;
        var taskCountSelect = document.getElementById("task-count");

        var selectedTask = taskSelect.value;
        // Запрос к серверу для получения количества на основе выбранной задачи
        
        fetch(`/get_task_count/?selected_task=${selectedTask}&task_code=${selectedTaskCode}`)
            .then(response => response.json())
            .then(data => {
                data.count_list.forEach(count => {
                    const maxCount = count.count_detail;

                    for (let i = 1; i <= maxCount; i++) {
                        var option = document.createElement("option");
                        option.value = i;
                        option.text = i;
                        taskCountSelect.add(option);
            }
                });
            })
            .catch(error => console.error('Ошибка:', error));
    }

    // Вызываем функцию при загрузке страницы для установки начального состояния
    generateTaskCount();
</script>

    <script>
        function addNewSelect() {
            var taskSelectClone = document.getElementById('task').cloneNode(true);
            var taskcSelectClone = document.getElementById('task-count').cloneNode(true);
            document.getElementById('task-container').appendChild(taskSelectClone);
            document.getElementById('task-count-container').appendChild(taskcSelectClone);
        }

        function saveData() {
            var selectedData = {
                fio: document.getElementById('fio').value,
                position: document.getElementById('position').value,
                code: document.getElementById('task-code').value,
                tasks: [],
                tasks_count:[],
            };

            var taskSelects = document.querySelectorAll('#task-container select');
            taskSelects.forEach(function(select) {
                selectedData.tasks.push(select.value);
            });
            var taskcSelects = document.querySelectorAll('#task-count-container select');
            taskcSelects.forEach(function(select) {
                selectedData.tasks_count.push(select.value);
            });

            var csrftoken = getCookie('csrftoken');

            fetch('/save-data/', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': csrftoken,  
                },
                body: JSON.stringify(selectedData),
            })
            .then(response => response.json())
            .then(data => {
                console.log('Data saved successfully:', data);
                showNotification();  // Show the notification on success
                submitForm();
            })
            .catch(error => {
                console.error('Error saving data:', error);
            });
        }

        function showNotification() {
            var notification = document.getElementById('notification');
            notification.style.display = 'block';

            setTimeout(function() {
                notification.style.display = 'none';
            }, 3000);
        }

        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = cookies[i].trim();
                    // Check if the cookie name matches the pattern 'csrftoken='
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

    function submitForm() {
    var selectedData = {
        fio: document.getElementById('fio').value,
        position: document.getElementById('position').value,
        code: document.getElementById('task-code').value,
        tasks: [],
        tasks_count: [],
    };

    var taskSelects = document.querySelectorAll('#task-container select');
    taskSelects.forEach(function(select) {
        selectedData.tasks.push(select.value);
    });

    var taskcSelects = document.querySelectorAll('#task-count-container select');
    taskcSelects.forEach(function(select) {
        selectedData.tasks_count.push(select.value);
    });

    // Преобразуйте объект с данными в строку параметров URL
    var queryString = Object.keys(selectedData).map(key => key + '=' + encodeURIComponent(selectedData[key])).join('&');

    // Добавьте queryString к URL формы
    document.getElementById('main-form').action = '{% url "daily_summary" %}?'+ queryString;

    // Отправка формы
    document.getElementById('main-form').submit();
}

    </script>
</body>
</html>
