{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ООО "Металл Дизайн" - Отчеты</title>
    <link rel="stylesheet" href="{% static 'zavod/reports.css' %}">

</head>
<body>
      <div class = "heads">
    <div class = "heads-column">
    <h2>ООО "Металл Дизайн" - Отчеты</h2>
    </div>
    <div class="menu">
        <a href="{% url 'reports' %}">Отчеты</a>
        <a href="{% url 'orders' %}">Заказы</a>
        <a href="{% url 'employee_list' %}">Главная</a>
    </div>
    </div>
        <form method="post" action="{% url 'generate_excel' %}">
        {% csrf_token %}
        <h2>Финаносвый отчет</h2>
        <label for="start_date">Начальная дата:</label>
        <input type="date" id="start_date" name="start_date" required>

        <label for="end_date">Конечная дата:</label>
        <input type="date" id="end_date" name="end_date" required>

        <button type="submit" class="table-btn">Создать отчет</button>
    </form>

    <form method="post" action="{% url 'workshop_report' %}">
    {% csrf_token %}
        <h2>Постовой отчет</h2>
        <label for="start_date">Начальная дата:</label>
        <input type="date" id="start_date" name="start_date" required>

        <label for="end_date">Конечная дата:</label>
        <input type="date" id="end_date" name="end_date" required>

        <label for="workshop">Цех:</label>
        <select id="workshop" name="workshop" required>
        <option value="Сварочный">Сварочный</option>
        <option value="Малярный">Малярный</option>
    </select>

    <button type="submit" class="table-btn">Создать отчет</button>
</form>
        <script>
                function generateExcel() {
                    window.location.href = '/generate-excel/';
                }
        </script>
</body>
</html>