body {
    background-color: #e0e0e0; /* Light gray background color */
    font-family: Arial, sans-serif;
}

.heads {
    background-color: #333; /* Dark gray header background color */
    color: #fff; /* White text color */
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1%;
}

.heads h2 {
    margin: 0;
}

.menu a {
    color: #fff;
    text-decoration: none;
    margin-right: 15px;
}

.menu a:hover {
    text-decoration: underline;
    color:#888888;
}

h2 {
    
    color: #ffffff;
}

form {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 8px;
    color: #555;
}

select {
    width: calc(100% - 16px);
    padding: 8px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.heads {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.heads-column {
    margin: 0;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.add-form-btn,
.save-btn,
.table-btn {
    background-color: #4caf50;
    color: #fff;
    padding: 8px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 10px;
}

.popup {
    display: none;
    position: fixed;
    top: 10px;
    left: 10px;
    background-color: #4caf50;
    color: #fff;
    padding: 15px;
    border-radius: 4px;
    z-index: 1000;
}

.clear {
    clear: both;
}

.container-flex {
    display: flex;
    justify-content: space-between;
}

#task-container{
    width: 78%; /* Adjusted width for better spacing, you can adjust as needed */
    margin-bottom: 20px;
}

#task-count-container{
    width: 20%;
}

#task-container label,
#task-count-container label,
#task-container select,
#task-count-container select {
    display: block;
    margin-bottom: 8px;
}

#task-container select {
    width: calc(100% - 16px);
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 5px;
}

.active-orders {
    margin-top: 20px; /* Добавим верхний отступ для блока заказов */
}

.active-orders ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.active-orders li {
    border: 1px solid #000000;
    padding: 8px;
    margin-bottom: 8px;
    display: flex;
    justify-content: space-between;
}

.active-orders li:hover {
    background-color: #939393;
}